.fc-bg-danger {
  background-color: #dc3545;
  color: white;
}

.fc-bg-success {
  background-color: #28a745;
  color: white;
}

.fc-bg-primary {
  background-color: #007bff;
  color: white;
}

.fc-bg-warning {
  background-color: #ffc107;
  color: black;
}